body {
    display: flex;
    flex-direction: column;
}

button {
    color: #F9FAF8;
    background-color: #3882F6; 
    padding: 5px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Container 1 */
.container-1{
    background-color: #1F2937;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.content {
    display: flex;
    gap: 20px;
}

.content h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content p{
    font-size: 18px;
    color: #E5E7EB;
}

.content .img-box {
    background-color: #E5E7EB;
    width: 600px;
    height: 200px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container 2 */
.container-2{
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card div{
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;;
    /*background-color: aquamarine; */
    border-radius: 25px;
}

/* Container 3 */
.container-3{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.container-3 .quote {
    align-self: center;
}

.container-3 .speaker {
    align-self: flex-end;
    font-size: larger;
}


/* Container 4 */
.container-4 {
    padding: 100px;
}
.container-4 .banner{
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 25px;
    border-radius: 25px;
}

/* Container 5 */
.container-5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #1F2937;
    color: #E5E7EB;
}
